{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center display-5">📦 Accessories Inventory App</h1>
    <p class="text-center text-muted mb-4">Track products, prices, stock count, and movements easily.</p>

    <div class="text-center mb-4">
        <a href="/add_product" class="btn-theme">➕ Add New Product</a>
    </div>

    <h3 class="mb-3 text-center">Products List📃</h3>

    {% if last_products %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="background-color: hsl(272, 78%, 61%); color: white;">ID</th>
                <th style="background-color: hsl(272, 78%, 61%); color: white;">Product Name</th>
                <th style="background-color: hsl(272, 78%, 61%); color: white;">Price</th>
                <th style="background-color: hsl(272, 78%, 61%); color: white;">Overall Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for product in last_products %}
            <tr>
                <td>{{ product.custom_id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center text-muted">No products added yet.</p>
    {% endif %}

    <hr class="my-5">
    <h3 class="mb-3 text-center">Werehouse Locations</h3>

    {% if locations %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="background-color: hsl(272, 78%, 61%); color: white;">Location ID</th>
                <th style="background-color: hsl(272, 78%, 61%); color: white;">Locaiton Name</th>
            </tr>
        </thead>
        <tbody>
            
                {% for loc in locations %} 
                <tr>
                    <td>{{ loc.location_id }}</td>
                    <td>{{ loc.name}}</td>
                </tr>
                {% endfor %}
            
        </tbody>
    </table>
    {% else %}
    <p class="text-center text-muted">No locations added yet.</p>   
    {% endif %}
</div>
{% endblock %}


